docs/content-system/IMPORT_THIS__N8N__SHOWROOM_CASE_CONTENT__CARDNEWS_AND_BLOG.json
{
  "name": "Findgagu Showroom Case Content -> Channel Routed (authorBrief v5)",
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual-trigger",
      "name": "수동 테스트 시작",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "findgagu-showroom-case-content-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "쇼룸 케이스 콘텐츠 생성 요청",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        420
      ],
      "webhookId": "findgagu-showroom-case-content-generate"
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first().json ?? {};\nconst body = incoming.body ?? incoming ?? {};\n\nconst clean = (value) => String(value ?? '').replace(/\\s+/g, ' ').trim();\nconst toArray = (value) => {\n  if (Array.isArray(value)) return value.map((item) => String(item ?? '').trim()).filter(Boolean);\n  if (typeof value === 'string') return value.split(/[\\n,]/).map((item) => item.trim()).filter(Boolean);\n  return [];\n};\n\nconst abRaw = body.authorBrief && typeof body.authorBrief === 'object' ? body.authorBrief : {};\nconst primaryProblemNote = clean(abRaw.primaryProblemNote ?? abRaw.primary_problem_note ?? '');\nconst primarySolutionNote = clean(abRaw.primarySolutionNote ?? abRaw.primary_solution_note ?? '');\nconst authorEvidenceNotes = Array.isArray(abRaw.evidenceNotes)\n  ? abRaw.evidenceNotes.map((item) => String(item ?? '').trim()).filter(Boolean)\n  : toArray(abRaw.evidence_notes ?? abRaw.evidenceNotes);\n\nconst slideSeed = Array.isArray(body.cardNews?.slides) ? body.cardNews.slides : [];\nconst normalizedSlides = slideSeed\n  .map((item, index) => ({\n    slide: Number(item?.slide ?? index + 1),\n    role: clean(item?.role ?? item?.key ?? `slide_${index + 1}`),\n    title: clean(item?.title),\n    text: clean(item?.text ?? item?.body),\n  }))\n  .filter((item) => item.text);\n\nlet evidencePoints = toArray(body.evidencePoints ?? body.evidence_points);\nif (evidencePoints.length === 0 && authorEvidenceNotes.length > 0) {\n  evidencePoints = authorEvidenceNotes;\n}\n\nconst displayName = clean(body.displayName ?? body.display_name ?? body.titleHint ?? body.externalLabel ?? body.external_label ?? body.siteName ?? body.site_name) || '시공 사례';\nconst hook = clean(body.hook ?? body.headlineHook ?? body.headline_hook);\nlet problemSummary = clean(body.problemSummary ?? body.problem_summary);\nlet problemDetail = clean(body.problemDetail ?? body.problem_detail);\nlet solutionSummary = clean(body.solutionSummary ?? body.solution_summary);\nlet solutionDetail = clean(body.solutionDetail ?? body.solution_detail);\nif (!problemDetail && primaryProblemNote) problemDetail = primaryProblemNote;\nif (!solutionDetail && primarySolutionNote) solutionDetail = primarySolutionNote;\n\nconst blogDraftMarkdown = String(body.blogDraftMarkdown ?? body.blog_draft_markdown ?? '').trim();\nconst channel = clean(body.channel).toLowerCase() || 'cardnews';\n\nconst normalizeImageCtxRow = (item) => {\n  if (!item || typeof item !== 'object' || Array.isArray(item)) return null;\n  const assetId = clean(item.assetId ?? item.asset_id ?? item.id);\n  const summaryLineRaw = clean(item.summaryLine ?? item.summary_line);\n  const baRaw = clean(item.beforeAfter ?? item.before_after).toLowerCase();\n  const beforeAfter = baRaw === 'before' ? 'before' : baRaw === 'after' ? 'after' : null;\n  const productName = clean(item.productName ?? item.product_name) || null;\n  const colorName = clean(item.colorName ?? item.color_name) || null;\n  const location = clean(item.location) || null;\n  const businessType = clean(item.businessType ?? item.business_type) || null;\n  const bits = [\n    Boolean(item.isMain ?? item.is_main) ? '대표컷' : '',\n    beforeAfter === 'before' ? '비포' : beforeAfter === 'after' ? '애프터' : '',\n    productName,\n    colorName,\n    location,\n    businessType,\n  ].filter(Boolean);\n  const summaryLine = summaryLineRaw || bits.join(' · ') || null;\n  const url = clean(item.url ?? item.preview_url ?? item.image_url ?? item.imageUrl);\n  if (!assetId && !summaryLine) return null;\n  return {\n    assetId,\n    url,\n    beforeAfter,\n    productName,\n    colorName,\n    location,\n    businessType,\n    isMain: Boolean(item.isMain ?? item.is_main),\n    summaryLine: summaryLine || '현장 컷',\n  };\n};\nconst icRaw = body.imageContext ?? body.image_context ?? body.siteImageMetadata ?? body.site_image_metadata;\nconst imageContext = Array.isArray(icRaw)\n  ? icRaw.map(normalizeImageCtxRow).filter(Boolean)\n  : [];\n\nconst cardNewsSeed = normalizedSlides.length > 0\n  ? normalizedSlides\n  : [\n      { slide: 1, role: 'hook', title: displayName, text: hook || '이 공간은 무엇이 달라졌을까요?' },\n      { slide: 2, role: 'problem', title: '문제 인식', text: [problemSummary, problemDetail].filter(Boolean).join('\\n\\n') || '현장 과제를 정리 중입니다.' },\n      { slide: 3, role: 'solution', title: '해결 접근', text: [solutionSummary, solutionDetail].filter(Boolean).join('\\n\\n') || '적용 방향을 정리 중입니다.' },\n      { slide: 4, role: 'evidence', title: '변화 포인트', text: evidencePoints.length ? evidencePoints.map((item) => `- ${item}`).join('\\n') : '전후 변화와 관찰 포인트를 정리 중입니다.' },\n      { slide: 5, role: 'cta', title: '온라인 쇼룸에서 더 보기', text: `${displayName} 사례처럼 우리 공간에 맞는 교육 환경 구성이 필요하다면 온라인 쇼룸에서 비슷한 사례를 더 비교해보세요.` },\n    ];\n\nconst authorBrief = {\n  primaryProblemNote: primaryProblemNote || problemDetail,\n  primarySolutionNote: primarySolutionNote || solutionDetail,\n  evidenceNotes: authorEvidenceNotes.length ? authorEvidenceNotes : evidencePoints,\n};\n\nreturn [{\n  json: {\n    requestSource: incoming.body ? 'webhook' : 'manual',\n    contentType: clean(body.contentType ?? body.content_type) || 'showroom-case-content',\n    channel,\n    displayName,\n    siteName: clean(body.siteName ?? body.site_name),\n    externalLabel: clean(body.externalLabel ?? body.external_label) || null,\n    industry: clean(body.industry) || null,\n    titleHint: clean(body.titleHint ?? body.title_hint) || displayName,\n    hook,\n    problemSummary,\n    problemDetail,\n    solutionSummary,\n    solutionDetail,\n    evidencePoints,\n    authorBrief,\n    cardNewsSeed,\n    blogDraftMarkdown,\n    imageContext,\n    cardNewsModel: clean(body.cardNewsModel ?? body.cardnews_model ?? body.model) || 'gpt-4.1',\n    blogModel: clean(body.blogModel ?? body.blog_model ?? body.model) || 'gpt-4.1',\n    generatedAt: new Date().toISOString(),\n  },\n}];"
      },
      "id": "node-normalize",
      "name": "입력 정규화",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-is-cardnews",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "cardnews",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-cardnews",
      "name": "카드뉴스 요청인가?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-is-blog",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "blog",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-blog",
      "name": "블로그 요청인가?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst slidesText = Array.isArray(data.cardNewsSeed)\n  ? data.cardNewsSeed.map((slide) => `${slide.slide}. [${slide.role}] ${slide.title ? `${slide.title} :: ` : ''}${slide.text}`).join('\\n')\n  : '';\n\nconst ab = data.authorBrief || {};\nconst briefLines = [];\nif (ab.primaryProblemNote) briefLines.push(`· 핵심 문제/과제 (운영자 확정): ${ab.primaryProblemNote}`);\nif (ab.primarySolutionNote) briefLines.push(`· 해결/접근 (운영자 확정): ${ab.primarySolutionNote}`);\nif (Array.isArray(ab.evidenceNotes) && ab.evidenceNotes.length) {\n  briefLines.push(`· 근거·변화 포인트: ${ab.evidenceNotes.join(' / ')}`);\n}\nconst briefBlock = briefLines.length\n  ? ['[운영자 브리프 — 사실·메시지의 1순위 원천. 시드/슬라이드와 충돌하면 반드시 브리프를 따른다.]', ...briefLines].join('\\n')\n  : '[운영자 브리프] 비어 있음 → 아래 카드뉴스 시드만으로 작성.';\n\nconst prompt = [\n  '당신은 파인드가구 콘텐츠 에디터다.',\n  '쇼룸은 오프라인 전시장이 아니라 홈페이지 안의 온라인 사례 쇼룸이다.',\n  '아래 시드·브리프를 바탕으로 클릭형 카드뉴스 최종 초안을 JSON으로 정리하라.',\n  '브리프에 없는 사실은 추측하지 말고 생략하거나 일반 표현만 쓴다.',\n  '반드시 JSON만 반환한다.',\n  '',\n  `[공개명] ${data.displayName}`,\n  `[업종] ${data.industry ?? '미기재'}`,\n  `[한 줄 훅 - 운영자 확정, 카드 1장차의 최우선 기준] ${data.hook || '없음'}`,\n  '',\n  briefBlock,\n  '',\n  '[카드뉴스 시드(앱에서 온 참고안·슬라이드 텍스트, 단 한 줄 훅/운영자 브리프와 충돌하면 참고만 한다)]',\n  slidesText,\n  '',\n  '[출력 스키마]',\n  '{',\n  '  \"master\": {',\n  '    \"cta\": \"string\",',\n  '    \"slides\": [',\n  '      { \"slide\": 1, \"role\": \"hook\", \"title\": \"string\", \"text\": \"string\" }',\n  '    ]',\n  '  },',\n  '  \"instagram\": {',\n  '    \"slides\": [',\n  '      { \"slide\": 1, \"role\": \"hook\", \"title\": \"string\", \"text\": \"string\" }',\n  '    ],',\n  '    \"caption\": \"string\"',\n  '  },',\n  '  \"facebook\": {',\n  '    \"slides\": [',\n  '      { \"slide\": 1, \"role\": \"hook\", \"title\": \"string\", \"text\": \"string\" }',\n  '    ],',\n  '    \"caption\": \"string\"',\n  '  }',\n  '}',\n  '',\n  '규칙:',\n  '- slide는 1부터 시작',\n  '- master.slides는 역할 순서를 지키면 좋다: hook → problem → specific-problem → solution → evidence → cta (앱 6장 레이아웃과 호환)',\n  '- 가능하면 총 6장을 채운다. 부족하면 최소 5장 이상.',\n  '- title은 짧게, text는 카드 안에 들어갈 정도로 간결하게',\n  '- 운영자 브리프와 모순되는 사실·수치를 만들지 마라.',\n  '- [한 줄 훅]이 있으면 hook 역할의 첫 슬라이드 문구는 반드시 그 훅을 1순위 원문으로 삼아 재작성한다.',\n  '- 기존 카드뉴스 시드의 hook 문구가 [한 줄 훅]과 다르면 시드의 기존 hook 문구는 버리고 [한 줄 훅]을 따른다.',\n  '- instagram/facebook의 첫 슬라이드도 master의 hook 메시지와 같은 방향으로 맞춘다.',\n  '- CTA는 클릭 버튼형이 아니라 온라인 쇼룸 유도형 문장으로 작성',\n].join('\\n');\n\nreturn [{\n  json: {\n    ...data,\n    cardNewsRequestBody: {\n      model: data.cardNewsModel,\n      temperature: 0.7,\n      max_tokens: 2400,\n      response_format: { type: 'json_object' },\n      messages: [\n        {\n          role: 'user',\n          content: prompt,\n        },\n      ],\n    },\n  },\n}];"
      },
      "id": "node-cardnews-request",
      "name": "카드뉴스 요청 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.cardNewsRequestBody) }}",
        "options": {}
      },
      "id": "node-cardnews-openai",
      "name": "OpenAI 카드뉴스 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1220,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('입력 정규화').first().json;\nconst response = $input.first().json ?? {};\nconst stripCodeFences = (value) => typeof value === 'string' ? value.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim() : '';\nconst rawContent = stripCodeFences(response.choices?.[0]?.message?.content ?? '');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (error) {\n  parsed = {\n    master: {\n      cta: `${normalized.displayName} 사례처럼 우리 공간에 맞는 구성을 온라인 쇼룸에서 더 비교해보세요.`,\n      slides: normalized.cardNewsSeed.map((slide) => ({ slide: slide.slide, role: slide.role, title: slide.title, text: slide.text })),\n    },\n    instagram: {\n      slides: normalized.cardNewsSeed.map((slide) => ({ slide: slide.slide, role: slide.role, title: slide.title, text: slide.text })),\n      caption: `${normalized.displayName} 사례 핵심만 빠르게 정리했습니다.`,\n    },\n    facebook: {\n      slides: normalized.cardNewsSeed.map((slide) => ({ slide: slide.slide, role: slide.role, title: slide.title, text: slide.text })),\n      caption: `${normalized.displayName} 사례를 온라인 쇼룸 맥락으로 정리했습니다.`,\n    },\n  };\n}\n\nreturn [{\n  json: {\n    ok: true,\n    contentType: normalized.contentType,\n    channel: 'cardnews',\n    displayName: normalized.displayName,\n    generatedAt: new Date().toISOString(),\n    payload: {\n      request: {\n        displayName: normalized.displayName,\n        siteName: normalized.siteName,\n        externalLabel: normalized.externalLabel,\n        industry: normalized.industry,\n      },\n      cardNews: parsed,\n      raw: rawContent || null,\n    },\n  },\n}];"
      },
      "id": "node-cardnews-finalize",
      "name": "카드뉴스 결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "node-cardnews-respond",
      "name": "카드뉴스 Webhook 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1700,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst clean = (value) => String(value ?? '').replace(/\\s+/g, ' ').trim();\nconst ab = data.authorBrief || {};\nconst briefLines = [];\nif (ab.primaryProblemNote) briefLines.push(`· 핵심 문제/과제 (운영자 확정): ${ab.primaryProblemNote}`);\nif (ab.primarySolutionNote) briefLines.push(`· 해결/접근 (운영자 확정): ${ab.primarySolutionNote}`);\nif (Array.isArray(ab.evidenceNotes) && ab.evidenceNotes.length) {\n  briefLines.push(`· 근거·변화 포인트: ${ab.evidenceNotes.join(' / ')}`);\n}\nconst briefBlock = briefLines.length\n  ? ['[운영자 브리프 — 사실·메시지의 1순위 원천. 다른 필드와 충돌하면 브리프를 따른다.]', ...briefLines].join('\\n')\n  : '';\n\nconst imageRows = Array.isArray(data.imageContext)\n  ? data.imageContext.filter((row) => row && typeof row === 'object')\n  : [];\n\nconst pickImageLine = (row, label) => {\n  if (!row || typeof row !== 'object') return `${label}: 없음`;\n  const id = clean(row.assetId ?? row.asset_id ?? '');\n  const url = clean(row.url ?? row.preview_url ?? row.imageUrl ?? row.image_url);\n  const meta = clean(row.summaryLine ?? row.summary_line);\n  if (!url) return `${label}: 없음`;\n  return `· ${label} | [${id || '자산'}] URL: ${url} | 메타 힌트: ${meta || '없음'}`;\n};\n\nconst beforeRows = imageRows.filter((row) => clean(row.beforeAfter ?? row.before_after) === 'before');\nconst afterRows = imageRows.filter((row) => clean(row.beforeAfter ?? row.before_after) === 'after');\nconst pickHero = (rows) => rows.find((row) => Boolean(row.isMain ?? row.is_main)) ?? rows[0] ?? null;\nconst heroBefore = pickHero(beforeRows);\nconst heroAfter = pickHero(afterRows);\nconst heroAfterUrl = clean(heroAfter?.url ?? heroAfter?.preview_url ?? heroAfter?.imageUrl ?? heroAfter?.image_url);\nconst inlineAfterRows = afterRows.filter((row) => {\n  const url = clean(row.url ?? row.preview_url ?? row.imageUrl ?? row.image_url);\n  return Boolean(url) && url !== heroAfterUrl;\n});\n\nconst imageContextBlock = imageRows.length\n  ? [\n      '[블로그 이미지 정책 — 반드시 그대로 따른다.]',\n      '1. 글 앞쪽(도입부)에는 대표 비포 사진 1장과 대표 애프터 사진 1장만 사용한다.',\n      '2. 비포어 사진은 오직 대표 비포 사진 1장만 허용한다. 다른 비포어 사진은 본문 전체 어디에도 넣지 않는다.',\n      '3. 대표 비포 사진은 도입부에서 1회만 사용한다. 본문 중간에는 비포 사진을 다시 쓰지 않는다.',\n      '4. 대표 애프터 사진은 도입부에서 1회까지 사용할 수 있다.',\n      '5. 본문 중간 추가 사진은 아래 본문용 애프터 사진 목록만 사용한다. 즉 본문 중간 이미지는 반드시 애프터 사진만 사용한다.',\n      '6. 도입부에 사진 3장 이상을 연속으로 배치하는 것을 금지한다. 도입부의 이미지 나열은 대표 비포 1장 + 대표 애프터 1장까지만 허용한다.',\n      '7. 본문 중간 배치는 반드시 `애프터 사진 1장 -> 그 사진 설명 단락 1~2개 -> 다음 애프터 사진 1장 -> 그 사진 설명 단락 1~2개` 순서로 반복한다.',\n      '8. 사진과 사진을 연속으로 붙이지 않는다. 사진을 넣었으면 바로 그 사진 설명 문단이 따라와야 한다.',\n      '9. 아래 URL만 본문에 사용 가능하다. 목록에 없는 이미지 URL을 만들거나 추측하지 않는다.',\n      '10. body_markdown 안에서는 각 사진을 `![한글 alt 설명](URL)` 형태로 넣고, alt는 장면·제품·애프터 변화가 읽히는 자연스러운 한국어 문장으로 작성한다.',\n            '11. 도입부 대표 비포 사진의 alt는 반드시 단어 \"비포\"로 시작한다. 예: `비포 — 리모델링 전 매장 모습`.',\n            '12. 도입부 대표 애프터 사진의 alt는 반드시 단어 \"애프터\"로 시작한다. 예: `애프터 — 리모델링 후 새롭게 정돈된 매장`.',\n            '13. 본문 중간 애프터 사진의 alt에는 \"비포\"라는 단어를 쓰지 않는다. 본문 중간 사진은 모두 애프터이므로 alt에 굳이 \"애프터\"라는 단어를 반복할 필요는 없으나, 장면을 그대로 묘사한다.',\n      '',\n      '[도입부용 대표 비포 사진]',\n      pickImageLine(heroBefore, '대표 비포'),\n      '',\n      '[도입부용 대표 애프터 사진]',\n      pickImageLine(heroAfter, '대표 애프터'),\n      '',\n      '[본문 중간에만 사용할 애프터 사진 목록]',\n      ...(inlineAfterRows.length\n        ? inlineAfterRows.map((row, index) => pickImageLine(row, `본문용 애프터 ${index + 1}`))\n        : ['· 본문용 애프터 사진 없음']),\n      '',\n      '[금지 예시]',\n      '잘못된 예시 1: 대표 비포 -> 다른 비포 -> 대표 애프터 -> 다른 애프터처럼 도입부에 사진을 여러 장 나열하는 구조',\n      '잘못된 예시 2: 사진 2~3장을 연속으로 붙여 넣고 나중에 설명을 몰아서 쓰는 구조',\n      '잘못된 예시 3: 본문 중간에 비포어 사진을 다시 가져오는 구조',\n      '',\n      '[권장 템플릿]',\n      '도입 요약 문단',\n      '대표 비포 1장',\n      '대표 애프터 1장',\n      '문제/배경 설명 문단',\n      '애프터 사진 1장',\n      '해당 사진 설명 문단 1~2개',\n      '애프터 사진 1장',\n      '해당 사진 설명 문단 1~2개',\n      '... 같은 패턴 반복',\n    ].join('\\n')\n  : '';\n\nconst prompt = [\n  '당신은 파인드가구 블로그 에디터다.',\n  '쇼룸은 홈페이지 안의 온라인 사례 쇼룸이다.',\n  '아래 초안과 케이스 정보를 바탕으로 블로그 발행용 초안을 JSON으로 정리하라.',\n  '브리프에 없는 사실은 추측하지 말고 생략하거나 완곡하게만 다룬다.',\n  '반드시 JSON만 반환한다.',\n  '특히 이미지 규칙은 권장이 아니라 필수 제약이다. 어기지 말라.',\n  '',\n  `[공개명] ${data.displayName}`,\n  `[업종] ${data.industry ?? '미기재'}`,\n  `[한 줄 훅] ${data.hook || '없음'}`,\n  `[문제 요약] ${data.problemSummary || '없음'}`,\n  `[문제 상세] ${data.problemDetail || '없음'}`,\n  `[해결 요약] ${data.solutionSummary || '없음'}`,\n  `[해결 상세] ${data.solutionDetail || '없음'}`,\n  `[변화 포인트] ${data.evidencePoints.length ? data.evidencePoints.join(' / ') : '없음'}`,\n  '',\n  briefBlock,\n  '',\n  imageContextBlock,\n  '',\n  '[블로그 초안 시드]',\n  data.blogDraftMarkdown || '없음',\n  '',\n  '[출력 스키마]',\n  '{',\n  '  \"title\": \"string\",',\n  '  \"summary\": \"string\",',\n  '  \"body_markdown\": \"string\",',\n  '  \"hashtags\": [\"#태그1\", \"#태그2\"],',\n  '  \"review_note\": \"string\",',\n  '  \"seo\": {',\n  '    \"seo_title\": \"string (50~70자 권장, 검색 결과용)\",',\n  '    \"seo_description\": \"string (140~160자, 메타 설명)\",',\n  '    \"og_title\": \"string\",',\n  '    \"og_description\": \"string\",',\n  '    \"keywords\": [\"키워드1\", \"키워드2\"],',\n  '    \"canonical_path\": \"string (예: /showroom/case/<siteSlug>, 모르면 빈 문자열)\"',\n  '  },',\n  '  \"structured\": {',\n  '    \"featured_answer\": \"string (1~2문장 핵심 답변, AEO용)\",',\n  '    \"faq_items\": [{ \"question\": \"string\", \"answer\": \"string\" }],',\n  '    \"geo_points\": [\"지역/위치 키워드\"]',\n  '  }',\n  '}',\n  '',\n  '규칙:',\n  '- 블로그는 과장 없이 설명형으로 작성한다.',\n  '- 첫 문단에서 핵심 답(AEO용 요지)을 먼저 제시한다.',\n  '- 운영자 브리프와 모순되는 주장을 하지 않는다.',\n  '- body_markdown 분량: 한글 기준 최소 약 1,800자 이상. 가능하면 2,400~3,200자 수준으로 서술한다. 단락은 12개 이상 권장(소제목 ## 사용 가능). 짧은 나열형만 반복하지 말고 사례 맥락·근거·비교를 풀어 쓴다.',\n  '- 비포어 사진은 대표 비포 사진 1장만 허용한다. 다른 비포어 사진은 절대 사용하지 않는다.',\n  '- 도입부 이미지는 대표 비포 1장, 대표 애프터 1장만 허용한다. 도입부에 사진 3장 이상을 나열하는 것을 금지한다.',\n  '- 대표 비포 사진은 body_markdown 전체에서 1회만 사용한다.',\n  '- 본문 중간 추가 사진은 애프터 사진만 사용한다. 비포 사진을 본문 중간 사례 사진으로 재사용하지 않는다.',\n  '- 본문 중간에서는 반드시 `애프터 사진 1장 -> 설명 단락 -> 다음 애프터 사진 1장 -> 설명 단락` 흐름을 유지한다. 사진만 연속으로 붙이지 않는다.',\n  '- 앞쪽에 사진만 몰아넣는 구성을 금지한다. 이미지 다음에는 반드시 그 이미지에 대한 설명 문단이 따라와야 한다.',\n  '- 각 사진은 해당 단락의 설명과 직접 연결되어야 하며, 사진 바로 아래 문단에서 무엇이 달라졌는지, 어떤 구성인지, 어떤 인상인지 자연스럽게 풀어 쓴다.',\n  '- 이미지 alt는 메타 라벨을 그대로 복붙하지 말고, 검색성과 접근성을 고려한 자연스러운 한국어 설명으로 작성한다.',\n  '- 브리프·메타가 모두 빈약하면 블로그 초안 시드를 확장 서술하되 새로운 사실은 만들지 않는다.',\n  '- CTA는 온라인 쇼룸에서 더 비교해보는 흐름으로 마무리한다.',\n  '- seo.seo_title은 본문 제목보다 검색 키워드를 더 명확히 담아 50~70자 사이로 작성한다.',\n  '- seo.seo_description은 140~160자로, 본문의 핵심 가치 제안과 차별점이 검색 결과에서 바로 읽히도록 작성한다.',\n  '- seo.og_title / og_description은 SNS 공유 시 클릭 유도 가능한 톤으로 작성한다 (과장 금지).',\n  '- seo.keywords는 업종·지역·문제·해법 위주로 5~10개 한국어 키워드 배열로 제공한다.',\n  '- seo.canonical_path는 알 수 없으면 빈 문자열로 둔다. 임의 URL을 만들지 않는다.',\n  '- structured.featured_answer는 본문 첫 문단보다 더 압축된 1~2문장으로, 검색 답변 엔진이 그대로 인용할 수 있게 작성한다.',\n  '- structured.faq_items는 운영자 브리프·본문에서 직접 도출 가능한 질문만 3~5개 작성한다. 답은 1~3문장으로 사실 기반으로만 작성한다. 근거가 부족하면 빈 배열로 둔다.',\n  '- structured.geo_points는 지역명·상권·접근성 키워드를 짧게 나열한다 (예: \"전북 전주\", \"평택 비전동\"). 모르면 빈 배열로 둔다.',\n].join('\\n');\n\nreturn [{\n  json: {\n    ...data,\n    blogRequestBody: {\n      model: data.blogModel,\n      temperature: 0.7,\n      max_tokens: 5600,\n      response_format: { type: 'json_object' },\n      messages: [\n        {\n          role: 'user',\n          content: prompt,\n        },\n      ],\n    },\n  },\n}];"
      },
      "id": "node-blog-request",
      "name": "블로그 요청 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.blogRequestBody) }}",
        "options": {}
      },
      "id": "node-blog-openai",
      "name": "OpenAI 블로그 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1460,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('입력 정규화').first().json;\nconst response = $input.first().json ?? {};\nconst stripCodeFences = (value) => typeof value === 'string' ? value.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim() : '';\nconst rawContent = stripCodeFences(response.choices?.[0]?.message?.content ?? '');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (error) {\n  parsed = {\n    title: normalized.titleHint,\n    summary: normalized.hook || '',\n    body_markdown: normalized.blogDraftMarkdown || '',\n    hashtags: ['#파인드가구', '#온라인쇼룸'],\n    review_note: '응답 파싱 실패로 초안 원문을 fallback으로 사용했습니다.',\n  };\n}\n\nreturn [{\n  json: {\n    ok: true,\n    contentType: normalized.contentType,\n    channel: 'blog',\n    displayName: normalized.displayName,\n    generatedAt: new Date().toISOString(),\n    payload: {\n      request: {\n        displayName: normalized.displayName,\n        siteName: normalized.siteName,\n        externalLabel: normalized.externalLabel,\n        industry: normalized.industry,\n      },\n      blog: parsed,\n      raw: rawContent || null,\n    },\n  },\n}];"
      },
      "id": "node-blog-finalize",
      "name": "블로그 결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "node-blog-respond",
      "name": "블로그 Webhook 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1940,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('입력 정규화').first().json;\nreturn [{\n  json: {\n    ok: false,\n    contentType: normalized.contentType,\n    channel: normalized.channel,\n    error: 'unsupported_channel',\n    message: 'channel must be either \"cardnews\" or \"blog\".',\n    supportedChannels: ['cardnews', 'blog'],\n  },\n}];"
      },
      "id": "node-invalid-channel",
      "name": "잘못된 채널 응답 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        620
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "node-invalid-respond",
      "name": "잘못된 채널 Webhook 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1460,
        620
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "수동 테스트 시작": {
      "main": [
        [
          {
            "node": "입력 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쇼룸 케이스 콘텐츠 생성 요청": {
      "main": [
        [
          {
            "node": "입력 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입력 정규화": {
      "main": [
        [
          {
            "node": "카드뉴스 요청인가?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카드뉴스 요청인가?": {
      "main": [
        [
          {
            "node": "카드뉴스 요청 준비",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "블로그 요청인가?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카드뉴스 요청 준비": {
      "main": [
        [
          {
            "node": "OpenAI 카드뉴스 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 카드뉴스 생성": {
      "main": [
        [
          {
            "node": "카드뉴스 결과 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카드뉴스 결과 정리": {
      "main": [
        [
          {
            "node": "카드뉴스 Webhook 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 요청인가?": {
      "main": [
        [
          {
            "node": "블로그 요청 준비",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "잘못된 채널 응답 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 요청 준비": {
      "main": [
        [
          {
            "node": "OpenAI 블로그 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 블로그 생성": {
      "main": [
        [
          {
            "node": "블로그 결과 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 결과 정리": {
      "main": [
        [
          {
            "node": "블로그 Webhook 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "잘못된 채널 응답 구성": {
      "main": [
        [
          {
            "node": "잘못된 채널 Webhook 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "findgagu-showroom-case-content-v4",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "findgagu-showroom-case-content-channel-routed-v5",
  "tags": []
}
