docs/content-system/IMPORT_THIS__N8N__SHOWROOM_CASE_CONTENT__CARDNEWS_AND_BLOG.json
{
  "name": "Findgagu Showroom Case Content -> Channel Routed",
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual-trigger",
      "name": "수동 테스트 시작",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [260, 240]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "findgagu-showroom-case-content-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "쇼룸 케이스 콘텐츠 생성 요청",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 420],
      "webhookId": "findgagu-showroom-case-content-generate"
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first().json ?? {};\nconst body = incoming.body ?? incoming ?? {};\n\nconst clean = (value) => String(value ?? '').replace(/\\s+/g, ' ').trim();\nconst toArray = (value) => {\n  if (Array.isArray(value)) return value.map((item) => String(item ?? '').trim()).filter(Boolean);\n  if (typeof value === 'string') return value.split(/[\\n,]/).map((item) => item.trim()).filter(Boolean);\n  return [];\n};\n\nconst slideSeed = Array.isArray(body.cardNews?.slides) ? body.cardNews.slides : [];\nconst normalizedSlides = slideSeed\n  .map((item, index) => ({\n    slide: Number(item?.slide ?? index + 1),\n    role: clean(item?.role ?? item?.key ?? `slide_${index + 1}`),\n    title: clean(item?.title),\n    text: clean(item?.text ?? item?.body),\n  }))\n  .filter((item) => item.text);\n\nconst evidencePoints = toArray(body.evidencePoints ?? body.evidence_points);\nconst displayName = clean(body.displayName ?? body.display_name ?? body.titleHint ?? body.externalLabel ?? body.external_label ?? body.siteName ?? body.site_name) || '시공 사례';\nconst hook = clean(body.hook ?? body.headlineHook ?? body.headline_hook);\nconst problemSummary = clean(body.problemSummary ?? body.problem_summary);\nconst problemDetail = clean(body.problemDetail ?? body.problem_detail);\nconst solutionSummary = clean(body.solutionSummary ?? body.solution_summary);\nconst solutionDetail = clean(body.solutionDetail ?? body.solution_detail);\nconst blogDraftMarkdown = String(body.blogDraftMarkdown ?? body.blog_draft_markdown ?? '').trim();\nconst channel = clean(body.channel).toLowerCase() || 'cardnews';\n\nconst cardNewsSeed = normalizedSlides.length > 0\n  ? normalizedSlides\n  : [\n      { slide: 1, role: 'hook', title: displayName, text: hook || '이 공간은 무엇이 달라졌을까요?' },\n      { slide: 2, role: 'problem', title: '문제 인식', text: [problemSummary, problemDetail].filter(Boolean).join('\\n\\n') || '현장 과제를 정리 중입니다.' },\n      { slide: 3, role: 'solution', title: '해결 접근', text: [solutionSummary, solutionDetail].filter(Boolean).join('\\n\\n') || '적용 방향을 정리 중입니다.' },\n      { slide: 4, role: 'evidence', title: '변화 포인트', text: evidencePoints.length ? evidencePoints.map((item) => `- ${item}`).join('\\n') : '전후 변화와 관찰 포인트를 정리 중입니다.' },\n      { slide: 5, role: 'cta', title: '온라인 쇼룸에서 더 보기', text: `${displayName} 사례처럼 우리 공간에 맞는 교육 환경 구성이 필요하다면 온라인 쇼룸에서 비슷한 사례를 더 비교해보세요.` },\n    ];\n\nreturn [{\n  json: {\n    requestSource: incoming.body ? 'webhook' : 'manual',\n    contentType: clean(body.contentType ?? body.content_type) || 'showroom-case-content',\n    channel,\n    displayName,\n    siteName: clean(body.siteName ?? body.site_name),\n    externalLabel: clean(body.externalLabel ?? body.external_label) || null,\n    industry: clean(body.industry) || null,\n    titleHint: clean(body.titleHint ?? body.title_hint) || displayName,\n    hook,\n    problemSummary,\n    problemDetail,\n    solutionSummary,\n    solutionDetail,\n    evidencePoints,\n    cardNewsSeed,\n    blogDraftMarkdown,\n    cardNewsModel: clean(body.cardNewsModel ?? body.cardnews_model ?? body.model) || 'gpt-4.1',\n    blogModel: clean(body.blogModel ?? body.blog_model ?? body.model) || 'gpt-4.1',\n    generatedAt: new Date().toISOString(),\n  },\n}];"
      },
      "id": "node-normalize",
      "name": "입력 정규화",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-is-cardnews",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "cardnews",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-cardnews",
      "name": "카드뉴스 요청인가?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-is-blog",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "blog",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-blog",
      "name": "블로그 요청인가?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 480]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst slidesText = Array.isArray(data.cardNewsSeed)\n  ? data.cardNewsSeed.map((slide) => `${slide.slide}. [${slide.role}] ${slide.title ? `${slide.title} :: ` : ''}${slide.text}`).join('\\n')\n  : '';\n\nconst prompt = [\n  '당신은 파인드가구 콘텐츠 에디터다.',\n  '쇼룸은 오프라인 전시장이 아니라 홈페이지 안의 온라인 사례 쇼룸이다.',\n  '아래 시드 문장을 바탕으로 클릭형 카드뉴스 최종 초안을 JSON으로 정리하라.',\n  '반드시 JSON만 반환한다.',\n  '',\n  `[공개명] ${data.displayName}`,\n  `[업종] ${data.industry ?? '미기재'}`,\n  '',\n  '[카드뉴스 시드]',\n  slidesText,\n  '',\n  '[출력 스키마]',\n  '{',\n  '  \"master\": {',\n  '    \"cta\": \"string\",',\n  '    \"slides\": [',\n  '      { \"slide\": 1, \"role\": \"hook\", \"title\": \"string\", \"text\": \"string\" }',\n  '    ]',\n  '  },',\n  '  \"instagram\": {',\n  '    \"slides\": [',\n  '      { \"slide\": 1, \"role\": \"hook\", \"title\": \"string\", \"text\": \"string\" }',\n  '    ],',\n  '    \"caption\": \"string\"',\n  '  },',\n  '  \"facebook\": {',\n  '    \"slides\": [',\n  '      { \"slide\": 1, \"role\": \"hook\", \"title\": \"string\", \"text\": \"string\" }',\n  '    ],',\n  '    \"caption\": \"string\"',\n  '  }',\n  '}',\n  '',\n  '규칙:',\n  '- slide는 1부터 시작',\n  '- 총 슬라이드는 5장 기준',\n  '- title은 짧게, text는 카드 안에 들어갈 정도로 간결하게',\n  '- CTA는 클릭 버튼형이 아니라 온라인 쇼룸 유도형 문장으로 작성',\n].join('\\n');\n\nreturn [{\n  json: {\n    ...data,\n    cardNewsRequestBody: {\n      model: data.cardNewsModel,\n      temperature: 0.7,\n      max_tokens: 2400,\n      response_format: { type: 'json_object' },\n      messages: [\n        {\n          role: 'user',\n          content: prompt,\n        },\n      ],\n    },\n  },\n}];"
      },
      "id": "node-cardnews-request",
      "name": "카드뉴스 요청 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.cardNewsRequestBody) }}",
        "options": {}
      },
      "id": "node-cardnews-openai",
      "name": "OpenAI 카드뉴스 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1220, 180]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('입력 정규화').first().json;\nconst response = $input.first().json ?? {};\nconst stripCodeFences = (value) => typeof value === 'string' ? value.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim() : '';\nconst rawContent = stripCodeFences(response.choices?.[0]?.message?.content ?? '');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (error) {\n  parsed = {\n    master: {\n      cta: `${normalized.displayName} 사례처럼 우리 공간에 맞는 구성을 온라인 쇼룸에서 더 비교해보세요.`,\n      slides: normalized.cardNewsSeed.map((slide) => ({ slide: slide.slide, role: slide.role, title: slide.title, text: slide.text })),\n    },\n    instagram: {\n      slides: normalized.cardNewsSeed.map((slide) => ({ slide: slide.slide, role: slide.role, title: slide.title, text: slide.text })),\n      caption: `${normalized.displayName} 사례 핵심만 빠르게 정리했습니다.`,\n    },\n    facebook: {\n      slides: normalized.cardNewsSeed.map((slide) => ({ slide: slide.slide, role: slide.role, title: slide.title, text: slide.text })),\n      caption: `${normalized.displayName} 사례를 온라인 쇼룸 맥락으로 정리했습니다.`,\n    },\n  };\n}\n\nreturn [{\n  json: {\n    ok: true,\n    contentType: normalized.contentType,\n    channel: 'cardnews',\n    displayName: normalized.displayName,\n    generatedAt: new Date().toISOString(),\n    payload: {\n      request: {\n        displayName: normalized.displayName,\n        siteName: normalized.siteName,\n        externalLabel: normalized.externalLabel,\n        industry: normalized.industry,\n      },\n      cardNews: parsed,\n      raw: rawContent || null,\n    },\n  },\n}];"
      },
      "id": "node-cardnews-finalize",
      "name": "카드뉴스 결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "node-cardnews-respond",
      "name": "카드뉴스 Webhook 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1700, 180]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst prompt = [\n  '당신은 파인드가구 블로그 에디터다.',\n  '쇼룸은 홈페이지 안의 온라인 사례 쇼룸이다.',\n  '아래 초안과 케이스 정보를 바탕으로 블로그 발행용 초안을 JSON으로 정리하라.',\n  '반드시 JSON만 반환한다.',\n  '',\n  `[공개명] ${data.displayName}`,\n  `[업종] ${data.industry ?? '미기재'}`,\n  `[한 줄 훅] ${data.hook || '없음'}`,\n  `[문제 요약] ${data.problemSummary || '없음'}`,\n  `[문제 상세] ${data.problemDetail || '없음'}`,\n  `[해결 요약] ${data.solutionSummary || '없음'}`,\n  `[해결 상세] ${data.solutionDetail || '없음'}`,\n  `[변화 포인트] ${data.evidencePoints.length ? data.evidencePoints.join(' / ') : '없음'}`,\n  '',\n  '[블로그 초안 시드]',\n  data.blogDraftMarkdown || '없음',\n  '',\n  '[출력 스키마]',\n  '{',\n  '  \"title\": \"string\",',\n  '  \"summary\": \"string\",',\n  '  \"body_markdown\": \"string\",',\n  '  \"hashtags\": [\"#태그1\", \"#태그2\"],',\n  '  \"review_note\": \"string\"',\n  '}',\n  '',\n  '규칙:',\n  '- 블로그는 과장 없이 설명형으로 작성',\n  '- 첫 문단에서 핵심 답을 먼저 제시',\n  '- CTA는 온라인 쇼룸에서 더 비교해보는 흐름으로 마무리',\n].join('\\n');\n\nreturn [{\n  json: {\n    ...data,\n    blogRequestBody: {\n      model: data.blogModel,\n      temperature: 0.7,\n      max_tokens: 3600,\n      response_format: { type: 'json_object' },\n      messages: [\n        {\n          role: 'user',\n          content: prompt,\n        },\n      ],\n    },\n  },\n}];"
      },
      "id": "node-blog-request",
      "name": "블로그 요청 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.blogRequestBody) }}",
        "options": {}
      },
      "id": "node-blog-openai",
      "name": "OpenAI 블로그 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1460, 420]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('입력 정규화').first().json;\nconst response = $input.first().json ?? {};\nconst stripCodeFences = (value) => typeof value === 'string' ? value.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim() : '';\nconst rawContent = stripCodeFences(response.choices?.[0]?.message?.content ?? '');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (error) {\n  parsed = {\n    title: normalized.titleHint,\n    summary: normalized.hook || '',\n    body_markdown: normalized.blogDraftMarkdown || '',\n    hashtags: ['#파인드가구', '#온라인쇼룸'],\n    review_note: '응답 파싱 실패로 초안 원문을 fallback으로 사용했습니다.',\n  };\n}\n\nreturn [{\n  json: {\n    ok: true,\n    contentType: normalized.contentType,\n    channel: 'blog',\n    displayName: normalized.displayName,\n    generatedAt: new Date().toISOString(),\n    payload: {\n      request: {\n        displayName: normalized.displayName,\n        siteName: normalized.siteName,\n        externalLabel: normalized.externalLabel,\n        industry: normalized.industry,\n      },\n      blog: parsed,\n      raw: rawContent || null,\n    },\n  },\n}];"
      },
      "id": "node-blog-finalize",
      "name": "블로그 결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "node-blog-respond",
      "name": "블로그 Webhook 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1940, 420]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('입력 정규화').first().json;\nreturn [{\n  json: {\n    ok: false,\n    contentType: normalized.contentType,\n    channel: normalized.channel,\n    error: 'unsupported_channel',\n    message: 'channel must be either \"cardnews\" or \"blog\".',\n    supportedChannels: ['cardnews', 'blog'],\n  },\n}];"
      },
      "id": "node-invalid-channel",
      "name": "잘못된 채널 응답 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 620]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "node-invalid-respond",
      "name": "잘못된 채널 Webhook 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1460, 620]
    }
  ],
  "pinData": {},
  "connections": {
    "수동 테스트 시작": {
      "main": [
        [
          {
            "node": "입력 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쇼룸 케이스 콘텐츠 생성 요청": {
      "main": [
        [
          {
            "node": "입력 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입력 정규화": {
      "main": [
        [
          {
            "node": "카드뉴스 요청인가?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카드뉴스 요청인가?": {
      "main": [
        [
          {
            "node": "카드뉴스 요청 준비",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "블로그 요청인가?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카드뉴스 요청 준비": {
      "main": [
        [
          {
            "node": "OpenAI 카드뉴스 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 카드뉴스 생성": {
      "main": [
        [
          {
            "node": "카드뉴스 결과 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카드뉴스 결과 정리": {
      "main": [
        [
          {
            "node": "카드뉴스 Webhook 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 요청인가?": {
      "main": [
        [
          {
            "node": "블로그 요청 준비",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "잘못된 채널 응답 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 요청 준비": {
      "main": [
        [
          {
            "node": "OpenAI 블로그 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 블로그 생성": {
      "main": [
        [
          {
            "node": "블로그 결과 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 결과 정리": {
      "main": [
        [
          {
            "node": "블로그 Webhook 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "잘못된 채널 응답 구성": {
      "main": [
        [
          {
            "node": "잘못된 채널 Webhook 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "findgagu-showroom-case-content-v4",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "findgagu-showroom-case-content-channel-routed-v4",
  "tags": []
}
