docs/content-system/IMPORT_THIS__N8N__NAVER_BLOG_ONLY__GMAIL_FINAL.json
{
  "name": "Findgagu Showroom -> Naver Blog Only",
  "nodes": [
    {
      "parameters": {},
      "id": "2fa8aede-faf8-4b25-a68d-ec555da4d5b5",
      "name": "수동 테스트 시작",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        15072,
        2448
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "findgagu-showroom-naver-blog-only",
        "options": {}
      },
      "id": "b6de48b5-b9d2-4953-9396-4ed90931c178",
      "name": "쇼룸 네이버 블로그 생성 요청",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        15072,
        2656
      ],
      "webhookId": "f3f24290-3a09-4c5f-a004-e6ad3a084415"
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first().json ?? {};\nconst body = incoming.body ?? incoming ?? {};\n\nconst toArray = (value) => {\n  if (Array.isArray(value)) return value.filter((item) => item !== null && item !== undefined && item !== '');\n  if (typeof value === 'string') {\n    return value.split(',').map((item) => item.trim()).filter(Boolean);\n  }\n  return [];\n};\n\nconst truncate = (value, max = 120) => {\n  const text = String(value ?? '').trim();\n  if (!text) return '';\n  return text.length > max ? `${text.slice(0, max - 1)}…` : text;\n};\n\nconst relabelBusinessType = (value) => {\n  const text = String(value ?? '').trim();\n  if (!text) return '';\n  return text === '관리형' ? '관리형 스터디카페' : text;\n};\n\nconst buildProtectedImageUrl = (value) => {\n  const url = String(value ?? '').trim();\n  if (!url || !url.includes('/image/upload/') || url.includes('/l_text:Arial_28_bold:FINDGAGU')) return url;\n  const transformation = [\n    'f_auto',\n    'q_auto',\n    'fl_lossy',\n    'w_1280',\n    'c_limit',\n    'l_text:Arial_28_bold:FINDGAGU',\n    'co_rgb:ffffff',\n    'o_28',\n    'g_south_east',\n    'x_28',\n    'y_24',\n  ].join(',');\n  return url.replace('/image/upload/', `/image/upload/${transformation}/`);\n};\n\nconst normalizeImage = (image, index, forcedRole = null) => {\n  if (!image) return null;\n  if (typeof image === 'string') {\n    return {\n      id: `img-${index + 1}`,\n      url: image,\n      delivery_url: buildProtectedImageUrl(image),\n      caption: '',\n      product_name: '',\n      color_name: '',\n      before_after_role: forcedRole,\n      before_after_group_id: '',\n      order: index + 1,\n    };\n  }\n\n  const url = image.url ?? image.secure_url ?? image.image_url ?? image.src ?? '';\n  if (!url) return null;\n\n  const role = forcedRole\n    ?? (image.before_after_role === 'before' || image.before_after_role === 'after' ? image.before_after_role : null)\n    ?? (image.beforeAfterRole === 'before' || image.beforeAfterRole === 'after' ? image.beforeAfterRole : null);\n\n  return {\n    id: image.id ?? image.asset_id ?? image.public_id ?? `img-${index + 1}`,\n    url,\n    delivery_url: buildProtectedImageUrl(url),\n    caption: image.caption ?? image.description ?? '',\n    product_name: image.product_name ?? image.productName ?? '',\n    color_name: image.color_name ?? image.colorName ?? '',\n    before_after_role: role,\n    before_after_group_id: image.before_after_group_id ?? image.beforeAfterGroupId ?? image.pair_id ?? image.pairId ?? '',\n    order: image.order ?? index + 1,\n  };\n};\n\nconst rawBeforeImages = toArray(body.before_images ?? body.beforeImages)\n  .map((image, index) => normalizeImage(image, index, 'before'))\n  .filter(Boolean);\nconst rawAfterImages = toArray(body.after_images ?? body.afterImages)\n  .map((image, index) => normalizeImage(image, index, 'after'))\n  .filter(Boolean);\nconst rawImages = [\n  ...toArray(body.representative_images),\n  ...toArray(body.source_images),\n  ...toArray(body.images),\n].map((image, index) => normalizeImage(image, index)).filter(Boolean);\n\nconst maxImagesRaw = Number(body.max_images ?? body.maxImages ?? 8);\nconst maxImages = Number.isFinite(maxImagesRaw) ? Math.max(1, Math.min(maxImagesRaw, 12)) : 8;\nconst selectedBeforeImagesRaw = rawBeforeImages.slice(0, Math.min(maxImages, 4));\nconst selectedAfterImagesRaw = (rawAfterImages.length ? rawAfterImages : rawImages.filter((image) => image.before_after_role !== 'before')).slice(0, maxImages);\nconst selectedImagesRaw = selectedBeforeImagesRaw.length\n  ? [...selectedBeforeImagesRaw, ...selectedAfterImagesRaw]\n  : selectedAfterImagesRaw;\n\nconst publicSiteName = body.site_name ?? body.siteName ?? body.external_display_name ?? body.externalDisplayName ?? body.showroom_name ?? body.showroomName ?? '파인드가구 쇼룸';\nconst internalSiteName = body.internal_site_name ?? body.internalSiteName ?? '';\nconst locationKr = body.location_kr ?? body.locationKr ?? body.location ?? '';\nconst businessTypeKr = relabelBusinessType(body.business_type_kr ?? body.businessTypeKr ?? body.business_type ?? body.businessType ?? '');\nconst productNames = toArray(body.product_names ?? body.productNames);\nconst colorNames = toArray(body.color_names ?? body.colorNames);\nconst faqTopics = toArray(body.faq_topics ?? body.faqTopics);\nconst seoDescription = String(body.seo_description ?? body.seoDescription ?? '').trim();\nconst comparisonFocus = toArray(body.comparison_focus ?? body.comparisonFocus);\nconst primaryKeyword = body.primary_keyword ?? body.primaryKeyword ?? productNames[0] ?? publicSiteName;\nconst ctaText = body.cta_text ?? body.ctaText ?? '비슷한 사례를 더 보려면 파인드가구 홈페이지 쇼룸에서 다양한 현장 사례를 먼저 확인해보세요.';\nconst reviewEmail = body.review_email ?? body.reviewEmail ?? 'admin@findgagu.com';\nconst titleHint = body.title_hint ?? body.titleHint ?? `${publicSiteName} 사례 콘텐츠`;\nconst contentItemId = body.content_item_id ?? body.contentItemId ?? body.showroom_group_key ?? body.showroomGroupKey ?? `manual-${Date.now()}`;\nconst showroomGroupKey = body.showroom_group_key ?? body.showroomGroupKey ?? contentItemId;\nconst qualityThresholdRaw = Number(body.quality_threshold ?? body.qualityThreshold ?? 85);\nconst qualityThreshold = Number.isFinite(qualityThresholdRaw) ? qualityThresholdRaw : 85;\nconst beforeAfterAvailable = selectedBeforeImagesRaw.length > 0 && selectedAfterImagesRaw.length > 0;\n\nconst buildDefaultAlt = (image, index) => {\n  const roleLabel = image.before_after_role === 'before'\n    ? '비포어'\n    : image.before_after_role === 'after'\n      ? '애프터'\n      : '현장';\n  const parts = [publicSiteName, roleLabel, locationKr, businessTypeKr, image.product_name, image.color_name, image.caption]\n    .map((item) => String(item ?? '').trim())\n    .filter(Boolean);\n  return truncate(parts.join(' - ') || `${publicSiteName} ${roleLabel} 이미지 ${index + 1}`, 110);\n};\n\nconst selectedImages = selectedImagesRaw.map((image, index) => ({\n  ...image,\n  default_alt: buildDefaultAlt(image, index),\n}));\n\nconst imageMetaLines = selectedImages.length\n  ? selectedImages.map((image, index) => {\n      const roleLabel = image.before_after_role === 'before' ? 'before' : 'after';\n      const productText = roleLabel === 'before' ? '추정 금지' : (image.product_name || '미기재');\n      const colorText = roleLabel === 'before' ? '추정 금지' : (image.color_name || '미기재');\n      return [\n        `이미지${index + 1}`,\n        `- role: ${roleLabel}`,\n        `- 제품명: ${productText}`,\n        `- 색상: ${colorText}`,\n        `- pair_id: ${image.before_after_group_id || '없음'}`,\n        `- 설명: ${image.caption || '없음'}`,\n      ].join('\\n');\n    }).join('\\n\\n')\n  : '이미지 메타데이터 없음';\n\nconst modeLabel = beforeAfterAvailable ? '비포어/애프터 비교형 사례' : '일반 시공 사례';\nconst sectionRule = beforeAfterAvailable\n  ? '본문 H2는 최대 4개로 제한하고, 전후 비교 섹션 1개를 포함한다.'\n  : '본문 H2는 최대 3개로 제한하고, 전후 비교 섹션은 만들지 않는다.';\n\nconst promptText = [\n  '당신은 교육공간과 스터디카페 기획에 강한 콘텐츠 에디터입니다.',\n  '독자는 글보다 먼저 사진을 보고, 신뢰가 생기면 내용을 읽고, 마지막에 홈페이지 안의 온라인 쇼룸에서 더 비교해볼지 판단합니다.',\n  '따라서 본문은 사진을 먼저 보고 읽기 쉬운 구조를 전제로 작성하세요.',\n  '출력은 네이버 블로그 발행 초안 기준으로 작성하세요.',\n  'SEO, AEO, GEO를 함께 만족해야 하며 첫 문단 3~5줄 안에서 핵심 답을 먼저 제시하세요.',\n  '제목과 도입부는 검색 사용자의 질문 의도에 바로 답하는 설명형 문장으로 시작하세요.',\n  '대표 이미지로 가장 적합한 컷 1장을 함께 고르고, 그 이유도 짧게 설명하세요.',\n  '',\n  `[콘텐츠 모드]`,\n  modeLabel,\n  '',\n  `[공개 표기명 규칙]`,\n  `공개용 현장명: ${publicSiteName}`,\n  `내부 현장명: ${internalSiteName || '없음'}`,\n  '응답에는 공개용 현장명만 사용하고, 내부 현장명은 절대 쓰지 마세요.',\n  '',\n  `[프로젝트 정보]`,\n  `지역: ${locationKr || '미기재'}`,\n  `업종: ${businessTypeKr || '미기재'}`,\n  `핵심 키워드: ${primaryKeyword || '미기재'}`,\n  `제품명: ${productNames.length ? productNames.join(', ') : '미기재'}`,\n  `색상: ${colorNames.length ? colorNames.join(', ') : '미기재'}`,\n  `비교 초점: ${comparisonFocus.length ? comparisonFocus.join(', ') : '공간 구성 변화, 동선 변화, 분위기 변화'}`,\n  `SEO 설명: ${seoDescription || '미기재'}`,\n  `CTA: ${ctaText}`,\n  '',\n  `[이미지별 메타데이터]`,\n  imageMetaLines,\n  '',\n  `[절대 규칙]`,\n  '1. 지역과 업종은 한국어로만 작성한다.',\n  '2. 자재, 마감, 구조, 성능은 사진이나 메타데이터로 확인되지 않으면 추정하지 않는다.',\n  '3. 메타데이터에 없는 제품명/색상은 만들지 않는다.',\n  '4. before 이미지는 관찰 가능한 사실만 쓴다.',\n  '5. before 이미지에 제품명, 브랜드명, 자재명, 색상명을 추정해서 쓰지 않는다.',\n  '6. after 이미지만 제공된 메타데이터를 활용해 제품명과 색상을 구체적으로 반영한다.',\n  '7. \"첫 번째 사진\", \"두 번째 이미지\" 같은 순번 표현은 금지한다.',\n  '8. body_html은 HTML 조각으로 작성하고 html/body 태그는 넣지 않는다.',\n  `9. ${sectionRule}`,\n  '10. 기존 구조처럼 \"한눈에 보기\", \"프로젝트 소개\", \"공간 기획 포인트\", \"공간 기획의 디테일\"을 모두 분리하지 말고 묶어서 줄인다.',\n  '11. 사진 설명 뒤에는 독자가 홈페이지 안의 온라인 쇼룸에서 비슷한 사례를 더 비교해보고 싶어질 만한 이유를 자연스럽게 이어준다.',\n  '12. human_touch는 과장된 에피소드 창작이 아니라, 현장감이 느껴지는 짧은 코멘트로만 쓴다.',\n  '13. 업종 메타가 \"관리형 스터디카페\"이면 본문과 제목에서도 반드시 그 표현만 쓰고 \"관리형 학습공간\" 표현은 쓰지 않는다.',\n  '',\n  `[본문 구조]`,\n  '1. 도입 1블록: 현장 성격과 핵심 포인트를 3~4문장으로 요약',\n  beforeAfterAvailable\n    ? '2. 변화 포인트 1블록: 전후 비교 핵심만 3~5개로 정리'\n    : '2. 핵심 포인트 1블록: 이 현장에서 눈여겨볼 점을 3~5개로 정리',\n  '3. 공간별 설명 1블록: 각 사진 기반의 독립 단락으로 구성',\n  '4. 온라인 쇼룸 유도 1블록: 홈페이지 안에서 비슷한 사례를 더 비교해볼 이유와 CTA 포함',\n  '',\n  `[추가 작성 규칙]`,\n  '1. featured_answer: 검색/요약에 바로 노출될 수 있는 2~3문장 답변형 요약. 오프라인 방문 유도처럼 쓰지 말고 온라인 사례 비교 맥락으로 작성',\n  '2. faq_qas: 3개 이상',\n  '3. geo_points: 3~5개. 지역 키워드를 줄바꿈으로 나열하지 말고, 검색 사용자에게 도움이 되는 짧은 문장형 포인트로 작성',\n  '4. image_alts: 이미지 수와 동일한 개수',\n  '5. image_captions는 사진 먼저 보게 만드는 짧고 선명한 문장형으로',\n  '6. hashtags는 3개 안팎으로 간결하게',\n  '7. 여기서 말하는 쇼룸은 오프라인 전시장이 아니라 파인드가구 홈페이지 안의 온라인 사례 쇼룸이다. 오프라인 방문, 실물 체험, 직접 와서 본다 같은 표현은 금지한다.',\n  '8. geo_points와 featured_answer에는 지역명만 나열하지 말고, 이 사례를 온라인에서 왜 더 살펴볼 가치가 있는지 문장형으로 설명한다.',\n  '9. representative_image_index는 현재 전달된 이미지 배열 기준 1부터 시작하는 번호로 반환한다.',\n  '10. representative_image_reason은 왜 그 컷이 대표 이미지로 적합한지 한두 문장으로 작성한다.',\n  '11. image_order는 네이버 블로그 본문에 추천하는 이미지 노출 순서를 1-based 배열로 반환한다.',\n  '',\n  `[출력 JSON 스키마]`,\n  '{',\n  '  \"title\": \"string\",',\n  '  \"summary\": \"string\",',\n  '  \"featured_answer\": \"string\",',\n  '  \"before_after_points\": [\"string\"],',\n  '  \"body_html\": \"string\",',\n  '  \"social_text\": \"string\",',\n  '  \"hashtags\": [\"#태그1\", \"#태그2\", \"#태그3\"],',\n  '  \"seo_keywords\": [\"string\"],',\n  '  \"geo_points\": [\"string\"],',\n  '  \"faq_qas\": [{\"question\": \"string\", \"answer\": \"string\"}],',\n  '  \"image_alts\": [\"string\"],',\n  '  \"image_captions\": [\"string\"],\n    \"representative_image_index\": 1,\n    \"representative_image_reason\": \"string\",\n    \"image_order\": [1, 2, 3],',\n  '  \"human_touch\": \"string\"',\n  '}',\n  '',\n  '반드시 JSON만 반환하세요.',\n].join('\\n');\n\nconst userContent = [\n  ...selectedImages.map((image) => ({\n    type: 'image_url',\n    image_url: {\n      url: image.url,\n    },\n  })),\n  {\n    type: 'text',\n    text: promptText,\n  },\n];\n\nconst draftRequestBody = {\n  model: body.model ?? 'gpt-4.1',\n  temperature: 0.7,\n  max_tokens: 8192,\n  response_format: {\n    type: 'json_object',\n  },\n  messages: [\n    {\n      role: 'user',\n      content: userContent,\n    },\n  ],\n};\n\nreturn [{\n  json: {\n    requestSource: incoming.body ? 'webhook' : 'manual',\n    contentItemId,\n    showroomGroupKey,\n    siteName: publicSiteName,\n    internalSiteName,\n    locationKr,\n    businessTypeKr,\n    productNames,\n    colorNames,\n    faqTopics,\n    seoDescription,\n    comparisonFocus,\n    beforeAfterAvailable,\n    beforeImages: selectedImages.filter((image) => image.before_after_role === 'before'),\n    afterImages: selectedImages.filter((image) => image.before_after_role !== 'before'),\n    primaryKeyword,\n    ctaText,\n    reviewEmail,\n    titleHint,\n    selectedImages,\n    imageCount: selectedImages.length,\n    qualityThreshold,\n    draftRequestBody,\n  },\n}];"
      },
      "id": "ebdaf5f8-8939-4c8d-bf64-071b3756054a",
      "name": "입력 정규화 및 샘플 보강",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15344,
        2560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.draftRequestBody) }}",
        "options": {}
      },
      "id": "b929ee18-486c-4a99-92a9-ff1174dac35d",
      "name": "OpenAI 네이버 블로그 초안 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        15600,
        2560
      ],
      "credentials": {
        "openAiApi": {
          "id": "BMUtsHfK1H9AlF6P",
          "name": "OpenAi FINDGAGU-OS-CURSOR"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('입력 정규화 및 샘플 보강').first().json;\nconst response = $input.first().json ?? {};\n\nconst stripCodeFences = (value) => {\n  if (typeof value !== 'string') return '';\n  return value.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n};\n\nconst rawContent = stripCodeFences(response.choices?.[0]?.message?.content ?? '');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (error) {\n  parsed = {\n    title: normalized.titleHint,\n    summary: '',\n    featured_answer: '',\n    before_after_points: [],\n    body_html: rawContent,\n    social_text: '',\n    hashtags: [],\n    seo_keywords: [],\n    geo_points: [],\n    faq_qas: [],\n    image_alts: [],\n    image_captions: [],\n    human_touch: '',\n  };\n}\n\nconst toTextArray = (value) => {\n  if (Array.isArray(value)) return value.map((item) => String(item).trim()).filter(Boolean);\n  if (typeof value === 'string') return value.split(/[\\n,]/).map((item) => item.trim()).filter(Boolean);\n  return [];\n};\n\nconst normalizeFaqs = (value) => {\n  if (!Array.isArray(value)) return [];\n  return value\n    .map((item) => ({\n      question: String(item?.question ?? item?.q ?? '').trim(),\n      answer: String(item?.answer ?? item?.a ?? '').trim(),\n    }))\n    .filter((item) => item.question && item.answer)\n    .slice(0, 5);\n};\n\nconst truncate = (value, max = 125) => {\n  const text = String(value ?? '').trim();\n  if (!text) return '';\n  return text.length > max ? `${text.slice(0, max - 1)}…` : text;\n};\n\nconst escapeHtml = (value) => String(value ?? '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst escapeAttr = (value) => escapeHtml(value).replace(/\\n/g, ' ');\n\nconst emailImageStyle = 'width: 100%; max-width: 640px; height: auto; display: block; margin: 16px auto; border-radius: 18px; -webkit-user-select: none; user-select: none; -webkit-user-drag: none;';\nconst figureStyle = 'margin: 0 0 24px; text-align: center;';\nconst captionStyle = 'font-size: 12px; line-height: 1.7; color: #555; text-align: center; margin-top: 8px; padding: 0 4px;';\nconst sectionStyle = 'margin: 0 0 28px;';\nconst headingStyle = 'font-size: 22px; line-height: 1.45; margin: 0 0 14px; color: #111;';\nconst subHeadingStyle = 'font-size: 19px; line-height: 1.5; margin: 0 0 12px; color: #111;';\nconst paragraphStyle = 'font-size: 16px; line-height: 1.9; color: #222; margin: 0 0 16px;';\nconst listStyle = 'font-size: 16px; line-height: 1.9; color: #222; padding-left: 20px; margin: 0 0 16px;';\nconst listItemStyle = 'margin: 0 0 10px;';\nconst quoteStyle = 'font-size: 15px; line-height: 1.85; color: #374151; margin: 0 0 18px; padding: 14px 16px; border-left: 3px solid #d1d5db; background: #f8fafc;';\n\nconst mergeInlineStyle = (tag, styleText) => {\n  const styleRegex = /\\sstyle\\s*=\\s*([\\\"\\'])(.*?)\\1/i;\n  if (styleRegex.test(tag)) {\n    return tag.replace(styleRegex, (_match, quote, styles) => {\n      const merged = `${String(styles ?? '').trim().replace(/;?$/, ';')} ${styleText}`.trim();\n      return ` style=${quote}${merged}${quote}`;\n    });\n  }\n  return tag.replace(/\\s*\\/?>$/, (ending) => ` style=\\\"${styleText}\\\"${ending.includes('/') ? ' />' : '>'}`);\n};\n\nconst enforceEmailImageSizing = (html) => {\n  if (typeof html !== 'string' || !html.trim()) return '';\n  return html\n    .replace(/<section\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, sectionStyle))\n    .replace(/<article\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, sectionStyle))\n    .replace(/<h2\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, headingStyle))\n    .replace(/<h3\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, subHeadingStyle))\n    .replace(/<p\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, paragraphStyle))\n    .replace(/<ul\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, listStyle))\n    .replace(/<ol\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, listStyle))\n    .replace(/<li\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, listItemStyle))\n    .replace(/<blockquote\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, quoteStyle))\n    .replace(/<figure\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, figureStyle))\n    .replace(/<figcaption\\b[^>]*>/gi, (tag) => mergeInlineStyle(tag, captionStyle))\n    .replace(/<img\\b[^>]*>/gi, (tag) => {\n      let nextTag = tag\n        .replace(/\\swidth\\s*=\\s*([\\\"\\']).*?\\1/gi, '')\n        .replace(/\\sheight\\s*=\\s*([\\\"\\']).*?\\1/gi, '');\n\n      nextTag = mergeInlineStyle(nextTag, emailImageStyle);\n\n      if (!/\\swidth\\s*=\\s*([\\\"\\']).*?\\1/i.test(nextTag)) {\n        nextTag = nextTag.replace(/<img/i, '<img width=\\\"640\\\"');\n      }\n\n      if (!/\\salt\\s*=\\s*([\\\"\\']).*?\\1/i.test(nextTag)) {\n        nextTag = nextTag.replace(/<img/i, '<img alt=\\\"현장 사진\\\"');\n      }\n\n      if (!/\\sloading\\s*=\\s*([\\\"\\']).*?\\1/i.test(nextTag)) {\n        nextTag = nextTag.replace(/<img/i, '<img loading=\\\"lazy\\\"');\n      }\n\n      if (!/\\sdraggable\\s*=\\s*([\\\"\\']).*?\\1/i.test(nextTag)) {\n        nextTag = nextTag.replace(/<img/i, '<img draggable=\\\"false\\\"');\n      }\n\n      return nextTag;\n    });\n};\n\nconst title = parsed.title ?? parsed.blog_title ?? normalized.titleHint;\nconst summary = parsed.summary ?? parsed.excerpt ?? '';\nconst featuredAnswer = parsed.featured_answer ?? parsed.featuredAnswer ?? summary;\nconst beforeAfterPoints = normalized.beforeAfterAvailable\n  ? toTextArray(parsed.before_after_points ?? parsed.beforeAfterPoints).slice(0, 5)\n  : [];\nconst socialText = parsed.social_text ?? parsed.socialText ?? '';\nconst hashtags = toTextArray(parsed.hashtags).slice(0, 3);\nconst seoKeywords = toTextArray(parsed.seo_keywords ?? parsed.seoKeywords);\nconst geoPoints = toTextArray(parsed.geo_points ?? parsed.geoPoints).slice(0, 5);\nconst faqQas = normalizeFaqs(parsed.faq_qas ?? parsed.faqQas);\nconst humanTouch = String(parsed.human_touch ?? parsed.humanTouch ?? '').trim();\nconst selectedImages = Array.isArray(normalized.selectedImages) ? normalized.selectedImages : [];\nconst parseImageIndex = (value, max) => {\n  const parsed = Number.parseInt(String(value ?? ''), 10);\n  if (!Number.isFinite(parsed) || parsed < 1 || parsed > max) return null;\n  return parsed;\n};\nconst parseImageOrder = (value, max) => {\n  if (!Array.isArray(value)) return [];\n  const seen = new Set();\n  return value\n    .map((entry) => parseImageIndex(entry, max))\n    .filter((entry) => {\n      if (!entry || seen.has(entry)) return false;\n      seen.add(entry);\n      return true;\n    });\n};\nconst representativeImageIndex =\n  parseImageIndex(\n    parsed.representative_image_index\n    ?? parsed.representativeImageIndex\n    ?? parsed.hero_image_index\n    ?? parsed.heroImageIndex,\n    selectedImages.length\n  )\n  ?? (selectedImages.length > 0 ? 1 : null);\nconst representativeImageReason = String(\n  parsed.representative_image_reason\n  ?? parsed.representativeImageReason\n  ?? parsed.hero_image_reason\n  ?? parsed.heroImageReason\n  ?? ''\n).trim();\nconst imageOrder = parseImageOrder(parsed.image_order ?? parsed.imageOrder, selectedImages.length);\nconst selectedImagesForRender = imageOrder.length > 0\n  ? imageOrder.map((index) => selectedImages[index - 1]).filter(Boolean)\n  : representativeImageIndex\n    ? [\n        selectedImages[representativeImageIndex - 1],\n        ...selectedImages.filter((_image, index) => index !== representativeImageIndex - 1),\n      ].filter(Boolean)\n    : selectedImages;\nconst representativeImage = representativeImageIndex ? selectedImages[representativeImageIndex - 1] ?? null : null;\nconst rewriteSelectedImageUrls = (html) => {\n  if (typeof html !== 'string' || !html.trim()) return '';\n  return selectedImages.reduce((acc, image) => {\n    const originalUrl = String(image.url ?? '').trim();\n    const protectedUrl = String(image.delivery_url ?? image.url ?? '').trim();\n    if (!originalUrl || !protectedUrl || originalUrl === protectedUrl) return acc;\n    return acc.split(originalUrl).join(protectedUrl);\n  }, html);\n};\n\nconst defaultAlt = (image, index) => {\n  const roleLabel = image.before_after_role === 'before'\n    ? '비포어'\n    : image.before_after_role === 'after'\n      ? '애프터'\n      : '현장';\n  const parts = [normalized.siteName, roleLabel, normalized.locationKr, normalized.businessTypeKr, image.product_name, image.color_name, image.caption]\n    .map((item) => String(item ?? '').trim())\n    .filter(Boolean);\n  return truncate(parts.join(' - ') || `${normalized.siteName} ${roleLabel} 이미지 ${index + 1}`, 110);\n};\n\nconst imageAltCandidates = toTextArray(parsed.image_alts ?? parsed.imageAlts ?? parsed.alt_texts ?? parsed.altTexts);\nconst imageCaptionCandidates = toTextArray(parsed.image_captions ?? parsed.imageCaptions ?? parsed.captions);\nconst imageAlts = selectedImagesForRender.map((image, index) => truncate(imageAltCandidates[index] || image.default_alt || defaultAlt(image, index), 125));\nconst imageCaptions = selectedImagesForRender.map((image, index) => String(\n  imageCaptionCandidates[index]\n  || image.caption\n  || `${image.before_after_role === 'before' ? '비포어' : '애프터'} 이미지 ${index + 1}`\n).trim());\n\nconst bodyHtmlRaw = parsed.body_html ?? parsed.bodyHtml ?? parsed.blog_body ?? rawContent;\nlet coreBodyHtml = typeof bodyHtmlRaw === 'string' && bodyHtmlRaw.trim()\n  ? enforceEmailImageSizing(rewriteSelectedImageUrls(bodyHtmlRaw.trim()))\n  : `<p>${escapeHtml(String(bodyHtmlRaw ?? '')).replace(/\\n/g, '</p><p>')}</p>`;\n\nif (humanTouch && !coreBodyHtml.includes(humanTouch)) {\n  coreBodyHtml = `${coreBodyHtml}\\n\\n<section class=\\\"human-touch\\\"><p>${escapeHtml(humanTouch)}</p></section>`;\n}\n\nconst imageSection = selectedImagesForRender.length\n  ? `<section class=\"showroom-images\"><h2>${normalized.beforeAfterAvailable ? '비포어 · 애프터 사진' : '현장 사진'}</h2>${selectedImagesForRender.map((image, index) => `<figure style=\"${figureStyle}\"><img src=\"${escapeAttr(image.delivery_url ?? image.url)}\" alt=\"${escapeAttr(imageAlts[index])}\" width=\"640\" loading=\"lazy\" draggable=\"false\" style=\"${emailImageStyle}\" /><figcaption style=\"${captionStyle}\">${escapeHtml(imageCaptions[index])}</figcaption></figure>`).join('')}</section>`\n  : '';\n\nconst comparisonSection = beforeAfterPoints.length\n  ? `<section class=\\\"before-after-summary\\\"><h2>달라진 점</h2><ul>${beforeAfterPoints.map((item) => `<li>${escapeHtml(item)}</li>`).join('')}</ul></section>`\n  : '';\n\nconst geoSection = featuredAnswer || geoPoints.length\n  ? `<section class=\"geo-summary\"><h2>이 현장 먼저 보기</h2>${featuredAnswer ? `<p>${escapeHtml(featuredAnswer)}</p>` : ''}${geoPoints.length ? geoPoints.map((item) => `<p>${escapeHtml(item)}</p>`).join('') : ''}</section>`\n  : '';\n\nconst faqSection = faqQas.length\n  ? `<section class=\\\"faq-section\\\"><h2>자주 묻는 질문</h2>${faqQas.map((item) => `<article><h3>${escapeHtml(item.question)}</h3><p>${escapeHtml(item.answer)}</p></article>`).join('')}</section>`\n  : '';\n\nconst hasImageTag = /<img\\b/i.test(coreBodyHtml);\nconst bodyHtml = enforceEmailImageSizing([\n  hasImageTag ? '' : imageSection,\n  geoSection,\n  comparisonSection,\n  coreBodyHtml,\n  faqSection,\n].filter(Boolean).join('\\n\\n'));\n\nconst qualityPrompt = [\n  '다음 네이버 블로그 초안이 파인드가구 홈페이지 쇼룸 사례 원고로 적절한지 검수하라.',\n  '평가 기준:',\n  '1. 공개명으로 external/public 이름만 쓰고 내부 현장명은 드러나지 않는지',\n  '2. 사진 우선 구조가 자연스럽게 보이는지',\n  '3. 섹션 수가 과하지 않고 읽기 쉬운지',\n  '4. 제목과 요약의 명확성 및 SEO 키워드 반영',\n  '4-1. 전달받은 SEO 설명이 있으면 제목/요약/본문의 검색 문맥에 자연스럽게 반영되었는지',\n  '5. featured answer / FAQ 등 AEO 구조 적절성',\n  '5-1. geo_points가 지역 키워드 나열이 아니라 문장형 정보로 작성되었는지',\n  '6. before/after가 있으면 before 추정 금지와 after 메타 활용이 지켜졌는지',\n  '7. 이미지 삽입 및 alt 텍스트/캡션 적절성',\n  '8. 온라인 쇼룸/홈페이지 사례 비교 CTA가 과하지 않으면서 자연스럽게 이어지는지',\n  '9. 네이버 블로그 특성상 첫 문단에서 핵심 답변과 검색 의도가 바로 연결되는지',\n  '10. SEO/AEO/GEO 관점에서 정의형 문장, FAQ, 사례 문장이 인용 가능한 수준으로 정리됐는지',\n  '응답은 JSON만 반환:',\n  '{\"score\": 0-100, \"pass\": true/false, \"reason\": \"string\", \"review_note\": \"string\", \"checklist\": [\"string\"]}',\n  '',\n  `[제목]\\n${title}`,\n  '',\n  `[요약]\\n${summary}`,\n  '',\n  `[한 줄 코멘트]\\n${humanTouch}`,\n  '',\n  `[본문 HTML]\\n${bodyHtml}`,\n  '',\n  `[FAQ]\\n${faqQas.map((item) => `Q. ${item.question}\\nA. ${item.answer}`).join('\\n\\n')}`,\n  '',\n  `[이미지 ALT]\\n${imageAlts.map((item, index) => `${index + 1}. ${item}`).join('\\n')}`,\n  '',\n  `[메타]\\n공개명=${normalized.siteName}\\n내부명=${normalized.internalSiteName || '없음'}\\n지역=${normalized.locationKr}\\n업종=${normalized.businessTypeKr}\\n제품=${normalized.productNames.join(', ')}\\n컬러=${normalized.colorNames.join(', ')}\\nSEO설명=${normalized.seoDescription || '없음'}\\nCTA=${normalized.ctaText}`,\n].join('\\n');\n\nconst qualityRequestBody = {\n  model: 'gpt-4.1-mini',\n  temperature: 0.2,\n  max_tokens: 1400,\n  response_format: {\n    type: 'json_object',\n  },\n  messages: [\n    {\n      role: 'system',\n      content: '당신은 네이버 블로그 품질 검수 에디터다. 공개명 사용, 사진 우선 구조, 섹션 단순화, SEO/AEO/GEO, 첫 문단 답변 구조, 이미지 품질, 그리고 쇼룸을 오프라인 전시장이 아닌 홈페이지 내 온라인 사례 쇼룸 의미로 썼는지까지 함께 보수적으로 평가하고 JSON만 반환한다.',\n    },\n    {\n      role: 'user',\n      content: qualityPrompt,\n    },\n  ],\n};\n\nreturn [{\n  json: {\n    ...normalized,\n    title,\n    summary,\n    featuredAnswer,\n    beforeAfterPoints,\n    humanTouch,\n    bodyHtml,\n    socialText,\n    hashtags,\n    seoKeywords,\n    geoPoints,\n    faqQas,\n    imageAlts,\n    imageCaptions,\n    representativeImageIndex,\n    representativeImageReason,\n    representativeImageLabel: representativeImageIndex ? `${representativeImageIndex}번 이미지` : '',\n    imageOrder,\n    representativeImageUrl: representativeImage?.delivery_url ?? representativeImage?.url ?? '',\n    rawDraft: rawContent,\n    qualityRequestBody,\n  },\n}];"
      },
      "id": "9ad7e79c-51d1-4671-8e62-3123460bf250",
      "name": "초안 정리 및 검수 요청 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15856,
        2560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.qualityRequestBody) }}",
        "options": {}
      },
      "id": "f58a5e83-3ee8-4fbf-a689-ebd8af81ebdd",
      "name": "OpenAI 품질 검수",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        16112,
        2560
      ],
      "credentials": {
        "openAiApi": {
          "id": "BMUtsHfK1H9AlF6P",
          "name": "OpenAi FINDGAGU-OS-CURSOR"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const draft = $('초안 정리 및 검수 요청 준비').first().json;\nconst response = $input.first().json ?? {};\nconst rawContent = response.choices?.[0]?.message?.content ?? '';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (error) {\n  parsed = {\n    score: 0,\n    pass: false,\n    reason: '검수 응답 JSON 파싱 실패',\n    review_note: rawContent,\n    checklist: []\n  };\n}\n\nconst score = Number(parsed.score ?? parsed.quality_score ?? 0);\nconst qualityPassed = typeof parsed.pass === 'boolean'\n  ? parsed.pass\n  : score >= Number(draft.qualityThreshold ?? 85);\n\nconst checklist = Array.isArray(parsed.checklist)\n  ? parsed.checklist.map((item) => String(item).trim()).filter(Boolean)\n  : [];\n\nreturn [{\n  json: {\n    ...draft,\n    qualityScore: score,\n    qualityPassed,\n    qualityReason: parsed.reason ?? '',\n    reviewNote: parsed.review_note ?? '',\n    qualityChecklist: checklist,\n    reviewedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "5dae81ac-631a-4ba2-931f-d8c97952faf7",
      "name": "검수 결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16384,
        2560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-quality-pass",
              "leftValue": "={{ $json.qualityPassed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2d10abe-df7e-4a97-a3a8-ee683c2fb5ab",
      "name": "품질 통과?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16640,
        2560
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.reviewEmail }}",
        "subject": "={{ `[파인드가구][네이버 블로그 최종본][${String($json.reviewedAt || '').replace('T', ' ').slice(0, 19)}] ${$json.title}` }}",
        "message": "=<html><body style=\"font-family: 'Malgun Gothic', sans-serif; line-height: 1.8; color: #222; max-width: 760px; margin: 0 auto; padding: 20px; font-size: 16px;\"><header style=\"margin-bottom: 28px;\"><p style=\"margin: 0 0 10px; font-size: 12px; letter-spacing: 0.04em; color: #16a34a; text-transform: uppercase;\">Naver Blog Final Draft</p><h1 style=\"font-size: 28px; line-height: 1.4; margin: 0 0 12px; color: #111; word-break: keep-all;\">{{ $json.title }}</h1><p style=\"margin: 0; color: #666;\">현장명: {{ $json.siteName }}<br/>지역: {{ $json.locationKr || '미기재' }}<br/>업종: {{ $json.businessTypeKr || '미기재' }}</p></header><section style=\"margin-bottom: 24px; padding: 16px 18px; border: 1px solid #dcfce7; border-radius: 16px; background: #f0fdf4;\"><p style=\"margin: 0 0 8px; font-size: 12px; letter-spacing: 0.04em; color: #15803d; text-transform: uppercase;\">업로드용 최종본</p><p style=\"margin: 0; color: #166534;\">이 메일은 네이버 블로그에 바로 옮겨 적을 수 있는 최종 원고입니다. 아래 본문을 그대로 사용하고, 대표 이미지와 이미지 순서만 함께 참고하면 됩니다.</p></section><section style=\"margin-bottom: 24px; padding: 16px 18px; border: 1px solid #e5e7eb; border-radius: 16px; background: #fafafa;\"><p style=\"margin: 0 0 8px; font-size: 12px; letter-spacing: 0.04em; color: #64748b; text-transform: uppercase;\">대표 이미지 추천</p><p style=\"margin: 0 0 6px; color: #111;\">{{ $json.representativeImageLabel || '첫 번째 이미지' }}</p><p style=\"margin: 0; color: #555;\">{{ $json.representativeImageReason || '공간 변화가 가장 잘 보이는 컷을 대표 이미지로 추천했습니다.' }}</p></section><section style=\"margin-bottom: 24px; padding: 16px 18px; border: 1px solid #e5e7eb; border-radius: 16px; background: #fff;\"><p style=\"margin: 0 0 8px; font-size: 12px; letter-spacing: 0.04em; color: #64748b; text-transform: uppercase;\">이미지 업로드 순서</p><p style=\"margin: 0; color: #333;\">{{ Array.isArray($json.imageOrder) && $json.imageOrder.length ? $json.imageOrder.map((index) => `${index}번 이미지`).join(' → ') : '대표 이미지부터 순서대로 업로드' }}</p></section><main style=\"margin-bottom: 28px; padding: 28px 24px; border: 1px solid #e5e7eb; border-radius: 20px; background: #ffffff;\">{{ $json.bodyHtml }}</main><section style=\"margin-bottom: 24px;\"><p style=\"margin: 0 0 8px; font-size: 12px; color: #8a8a8a; text-transform: uppercase;\">Hashtags</p><p style=\"margin: 0; color: #444;\">{{ Array.isArray($json.hashtags) ? $json.hashtags.join(' ') : $json.hashtags }}</p></section></body></html>",
        "options": {}
      },
      "id": "d5a25147-07df-48e0-a079-241930f0baa7",
      "name": "Gmail 네이버 초안 발송",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        16912,
        2448
      ],
      "webhookId": "9cf64b6c-2098-4fac-a219-e6a1805e14be",
      "credentials": {
        "gmailOAuth2": {
          "id": "4eeNTN6nTR6Ap0J7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.reviewEmail }}",
        "subject": "={{ `[파인드가구][네이버 블로그 검토 필요][${String($json.reviewedAt || '').replace('T', ' ').slice(0, 19)}] ${$json.title}` }}",
        "message": "=<html><body style=\"font-family: 'Malgun Gothic', sans-serif; line-height: 1.8; color: #222; max-width: 760px; margin: 0 auto; padding: 20px; font-size: 16px;\"><header style=\"margin-bottom: 28px;\"><p style=\"margin: 0 0 10px; font-size: 12px; letter-spacing: 0.04em; color: #b91c1c; text-transform: uppercase;\">Naver Blog Needs Review</p><h1 style=\"font-size: 28px; line-height: 1.4; margin: 0 0 12px; color: #111; word-break: keep-all;\">{{ $json.title }}</h1><p style=\"margin: 0; color: #666;\">현장명: {{ $json.siteName }}<br/>지역: {{ $json.locationKr || '미기재' }}<br/>업종: {{ $json.businessTypeKr || '미기재' }}</p></header><section style=\"margin-bottom: 18px; padding: 16px; border: 1px solid #fecaca; border-radius: 16px; background: #fef2f2;\"><p style=\"margin: 0 0 8px; font-size: 12px; letter-spacing: 0.04em; color: #b91c1c; text-transform: uppercase;\">검토 필요</p><p style=\"margin: 0; color: #7f1d1d;\">{{ $json.qualityReason || '검토 사유가 없습니다.' }}</p></section><section style=\"margin-bottom: 24px; padding: 16px 18px; border: 1px solid #e5e7eb; border-radius: 16px; background: #fafafa;\"><p style=\"margin: 0 0 8px; font-size: 12px; letter-spacing: 0.04em; color: #64748b; text-transform: uppercase;\">대표 이미지 추천</p><p style=\"margin: 0 0 6px; color: #111;\">{{ $json.representativeImageLabel || '첫 번째 이미지' }}</p><p style=\"margin: 0; color: #555;\">{{ $json.representativeImageReason || '공간 변화가 가장 잘 보이는 컷을 대표 이미지로 추천했습니다.' }}</p></section><section style=\"margin-bottom: 24px; padding: 16px 18px; border: 1px solid #e5e7eb; border-radius: 16px; background: #fff;\"><p style=\"margin: 0 0 8px; font-size: 12px; letter-spacing: 0.04em; color: #64748b; text-transform: uppercase;\">검토 후 업로드할 최종 원고</p><p style=\"margin: 0; color: #444;\">아래 원고는 검토 후 네이버 블로그에 업로드할 후보안입니다.</p></section><main style=\"margin-bottom: 28px; padding: 28px 24px; border: 1px solid #e5e7eb; border-radius: 20px; background: #ffffff;\">{{ $json.bodyHtml }}</main><section style=\"margin-bottom: 24px;\"><p style=\"margin: 0 0 8px; font-size: 12px; color: #8a8a8a; text-transform: uppercase;\">Hashtags</p><p style=\"margin: 0; color: #444;\">{{ Array.isArray($json.hashtags) ? $json.hashtags.join(' ') : $json.hashtags }}</p></section></body></html>",
        "options": {}
      },
      "id": "d1a352e5-2613-49e1-9d86-06faa3298c4b",
      "name": "Gmail 네이버 검토 요청 발송",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        16912,
        2656
      ],
      "webhookId": "150d82a5-7283-481a-8f43-b5fe684552bb",
      "credentials": {
        "gmailOAuth2": {
          "id": "4eeNTN6nTR6Ap0J7",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "수동 테스트 시작": {
      "main": [
        [
          {
            "node": "입력 정규화 및 샘플 보강",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쇼룸 네이버 블로그 생성 요청": {
      "main": [
        [
          {
            "node": "입력 정규화 및 샘플 보강",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입력 정규화 및 샘플 보강": {
      "main": [
        [
          {
            "node": "OpenAI 네이버 블로그 초안 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 네이버 블로그 초안 생성": {
      "main": [
        [
          {
            "node": "초안 정리 및 검수 요청 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "초안 정리 및 검수 요청 준비": {
      "main": [
        [
          {
            "node": "OpenAI 품질 검수",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 품질 검수": {
      "main": [
        [
          {
            "node": "검수 결과 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "검수 결과 정리": {
      "main": [
        [
          {
            "node": "품질 통과?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "품질 통과?": {
      "main": [
        [
          {
            "node": "Gmail 네이버 초안 발송",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail 네이버 검토 요청 발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "52db8bdd-daf6-4fd5-a5ff-dc5ec3489820",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b88cef61f8f43228f5449cfd4f1707312dee614e46bb8c785b6ec7984bb75f4"
  },
  "id": "findgaguShowroomNaverBlogOnly",
  "tags": []
}
