docs/IMPORT_THIS__N8N__SHOWROOM_SHORTS_PUBLISH_GATE.json
{
  "name": "Findgagu Showroom Shorts Publish Gate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "findgagu-showroom-shorts-publish",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-webhook",
      "name": "쇼룸 숏츠 퍼블리싱 요청",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        320,
        320
      ],
      "webhookId": "findgagu-showroom-shorts-publish"
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first().json ?? {};\nconst body = incoming.body ?? incoming ?? {};\n\nconst getString = (value) => typeof value === 'string' && value.trim() ? value.trim() : '';\nconst getArray = (value) => Array.isArray(value) ? value : [];\n\nconst action = getString(body.action) === 'launch' ? 'launch' : 'prepare';\nconst callback = body.callback ?? {};\nconst job = body.job ?? {};\nconst target = body.target ?? {};\nconst publishPackage = body.publishPackage ?? {};\n\nreturn [{\n  json: {\n    source: getString(body.source) || 'showroom-shorts',\n    action,\n    dispatchedAt: getString(body.dispatchedAt) || new Date().toISOString(),\n    callbackUrl: getString(callback.url),\n    callbackSecretHeaderName: getString(callback.secretHeaderName) || 'x-showroom-shorts-publish-secret',\n    callbackSecret: getString($env.SHOWROOM_SHORTS_PUBLISH_CALLBACK_SECRET),\n    jobId: getString(job.id),\n    finalVideoUrl: getString(job.finalVideoUrl),\n    sourceVideoUrl: getString(job.sourceVideoUrl),\n    durationSeconds: Number(job.durationSeconds ?? 10),\n    targetId: getString(target.id),\n    channel: getString(target.channel),\n    title: getString(target.title),\n    description: getString(target.description),\n    hashtags: getArray(target.hashtags).map((item) => String(item).trim()).filter(Boolean),\n    firstComment: getString(target.firstComment),\n    publishStatus: getString(target.publishStatus),\n    publishPackage,\n  }\n}];"
      },
      "id": "node-normalize",
      "name": "입력 정규화",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-launch",
              "leftValue": "={{ $json.action }}",
              "rightValue": "launch",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-launch",
      "name": "Launch 요청인가?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        820,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const title = $json.title || $json.publishPackage?.title || '';\nconst baseDescription = $json.channel === 'youtube'\n  ? ($json.publishPackage?.descriptionWithHashtags || $json.description)\n  : ($json.publishPackage?.caption || $json.description);\nconst firstComment = $json.publishPackage?.firstComment || $json.firstComment || '';\nconst hashtags = Array.isArray($json.hashtags) ? $json.hashtags.join(' ') : '';\n\nreturn [{\n  json: {\n    ...$json,\n    preparedTitle: title,\n    preparedDescription: baseDescription,\n    preparedFirstComment: firstComment,\n    checklist: [\n      `${$json.channel} 제목 점검`,\n      `${$json.channel} 설명 점검`,\n      '최종 MP4 URL 확인',\n      '론칭 전 승인 대기'\n    ],\n    previewUrl: $json.finalVideoUrl,\n    callbackBody: {\n      targetId: $json.targetId,\n      action: 'prepare',\n      status: 'launch_ready',\n      message: 'upload ready',\n      completedAt: new Date().toISOString(),\n      payload: {\n        title,\n        descriptionWithHashtags: baseDescription,\n        firstComment,\n        hashtagsText: hashtags,\n        previewUrl: $json.finalVideoUrl,\n        checklist: [\n          `${$json.channel} 제목 점검`,\n          `${$json.channel} 설명 점검`,\n          '최종 MP4 URL 확인',\n          '론칭 전 승인 대기'\n        ]\n      }\n    }\n  }\n}];"
      },
      "id": "node-prepare-payload",
      "name": "Prepare 결과 만들기",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const channel = String($json.channel || '').toLowerCase();\nconst finalVideoUrl = $json.finalVideoUrl || '';\nconst fakePostId = `${channel}-${Date.now()}`;\nconst fakePostUrl = channel === 'youtube'\n  ? `https://youtube.com/shorts/${fakePostId}`\n  : channel === 'facebook'\n    ? `https://facebook.com/reel/${fakePostId}`\n    : `https://instagram.com/reel/${fakePostId}`;\n\nreturn [{\n  json: {\n    ...$json,\n    callbackBody: {\n      targetId: $json.targetId,\n      action: 'launch',\n      status: 'published',\n      message: 'published',\n      completedAt: new Date().toISOString(),\n      externalPostId: fakePostId,\n      externalPostUrl: fakePostUrl,\n      payload: {\n        channel,\n        finalVideoUrl,\n      }\n    }\n  }\n}];"
      },
      "id": "node-launch-payload",
      "name": "Launch 결과 만들기",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-showroom-shorts-publish-secret",
              "value": "={{ $json.callbackSecret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.callbackBody) }}",
        "options": {}
      },
      "id": "node-callback",
      "name": "Supabase Callback 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{{ ok: true, accepted: true, action: $json.action, callbackTarget: $json.callbackUrl, callbackResult: $json }}}",
        "options": {}
      },
      "id": "node-response",
      "name": "Webhook 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1620,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "쇼룸 숏츠 퍼블리싱 요청": {
      "main": [
        [
          {
            "node": "입력 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입력 정규화": {
      "main": [
        [
          {
            "node": "Launch 요청인가?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch 요청인가?": {
      "main": [
        [
          {
            "node": "Launch 결과 만들기",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare 결과 만들기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare 결과 만들기": {
      "main": [
        [
          {
            "node": "Supabase Callback 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch 결과 만들기": {
      "main": [
        [
          {
            "node": "Supabase Callback 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Callback 호출": {
      "main": [
        [
          {
            "node": "Webhook 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "findgagu-showroom-shorts-publish-gate-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "findgagu-showroom-shorts-publish-gate"
}
